.DS_Store
LabGroupAssigning/application.*
NotForGitHub/*
LabGroupAssigning/*.txt
LabGroupAssigning/*.tsv
*.txt
*.tsv
application.macosx/*
application.linux/*
application.windows/*
GUI_BUILDER_DATA/*
Releases/*
.vscode/*
